 <data>
   <server>
     <userName>lrochette</userName>
     <hostName>chronic3</hostName>
   </server>
   <procedure>
     <projectName>Github Plugins</projectName>
     <procedureName>Build</procedureName>
     <parameter><name>Branch</name><value>master</value></parameter>
     <parameter><name>CommunityPlugin</name><value>true</value></parameter>
     <parameter><name>NewBuilder</name><value>false</value></parameter>
     <parameter><name>Nightly</name><value>false</value></parameter>
     <parameter><name>Plugin Name</name><value>EC-Admin</value></parameter>
     <parameter><name>Preflight</name><value>true</value></parameter>
     <parameter><name>Run System Tests</name><value>true</value></parameter>
     <parameter><name>Run Unit Tests</name><value>false</value></parameter>
     <parameter><name>Send Report</name><value>false</value></parameter>
     <waitForJob>1</waitForJob>
     <jobTimeout>3600</jobTimeout>
   </procedure>
   <scm>
     <type>git</type>
     <gitdir>/Users/lrochette/SourceCode/lrochette/Admin.LR</gitdir>
     <method>local_all</method>
   </scm>
 </data>
